:root {
    --thm-primary-color: #6bddd9;
    --thm-primary-color-rgb: 107, 221, 217;
    --thm-body-font-color: #7d8c9f;
    --thm-body-font-color-2: #aabec8;
    --thm-heading-font-color: #0b162c;
    --thm-black: #0b162c;
    --thm-black-bg: #125c72;
    --thm-gray-bg: #f0f4f8;
    --thm-border-color: #e1e8ed;
}
