:root {
    --thm-primary-color: #6bddd9;
    --thm-primary-color-rgb: 156, 237, 106;
    --thm-body-font-color: #636560;
    --thm-body-font-color-2: #9ebab3;
    --thm-heading-font-color: #0a3e56;
    --thm-black: #0a3e56;
    --thm-black-bg: #0a4a5c;
    --thm-gray-bg: #f3f6ef;
    --thm-border-color: #e8ebe4;
    --thm-border-color-1: #1d768f;
    --thm-border-color-2: #dbdfd6;
}
